@import "tailwindcss";
@plugin "daisyui";
@import "./styles/styles.css";

.active {
  text-decoration: underline;
  color: #ff9b00;
}
li a {
  text-decoration: underline;
}

/* Hier alle weiteren eigenen Styles einfügen */
